.Feedback {
  max-width: 600px;
  margin: 15px auto;
  background-color: rgb(221, 206, 206);
  padding: 15px;
}
.Title {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0;
}
.BtnBox {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.Btn {
  width: 150px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(248, 241, 236);
  background-color: rgb(247, 148, 115);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
}
.FeedbackInfo {
  color: #fff;
  margin: 20px;
}
.FeedbackInfoItems {
  list-style: none;
  color: rgb(58, 57, 57);
  font-size: 20px;
  font-weight: 500;
}
li .Item {
  margin: 0;
}
